In [1]:
!unzip '/content/archive (3).zip' -d '/content'

Archive:  /content/archive (3).zip
  inflating: /content/multiple_linear_regression_dataset.csv

In [2]:
import numpy as np
import pandas as pd

In [44]:
path='/content/multiple_linear_regression_dataset.csv'
data=pd.read_csv(path)

In [45]:
data.head(5)

   age  experience  income
0   25           1   30450
1   30           3   35670
2   47           2   31580
3   32           5   40130
4   43          10   47830

In [46]:
data.columns

Index(['age', 'experience', 'income'], dtype='object')

In [47]:
data.shape

(20, 3)

In [48]:
# 1. Which columns are inputs?
# Ans: Age and Experience

# 2. Which column is the output?
# Ans: Income

# 3. How many features does your model need to handle?
# Ans: model needs to handle 2 features which are the input features.

In [49]:
X=data[["age","experience"]]
y=data["income"]

In [50]:
print(X)
print(y)

    age  experience
0    25           1
1    30           3
2    47           2
3    32           5
4    43          10
5    51           7
6    28           5
7    33           4
8    37           5
9    39           8
10   29           1
11   47           9
12   54           5
13   51           4
14   44          12
15   41           6
16   58          17
17   23           1
18   44           9
19   37          10
0     30450
1     35670
2     31580
3     40130
4     47830
5     41630
6     41340
7     37650
8     40250
9     45150
10    27840
11    46110
12    36720
13    34800
14    51300
15    38900
16    63600
17    30870
18    44190
19    48700
Name: income, dtype: int64

In [51]:
print(X.shape)
print(y.shape)

(20, 2)
(20,)

In [52]:
# 1.What is the shape of X?
# Ans:(20,2)

# 2.What is the shape of y?
# Ans:(20,)

# 3.Why does X have 2 columns but y only one?
# Ans: X contains the input features ( 2 in this case ) hence the shape is (20,2) where 20 is the no of instances and 2 is the no of features available , in y its only the ground truth value or the output corresponding to these inputs hence (20,)

In [53]:
n_features=X.shape[1]
w=np.zeros(n_features)
b=0.0

In [54]:
# 1.Why do we need one weight per feature?
# Ans: one for each input feature so that we can adjust the weightage /role of that feature and to control the impact of it on the output variable.

# 2.Why is bias separate?
# Ans: bias is separate because it adds non linearity to the model and its used to shift the decision boundary.

# 3.Would initializing with large values be risky
# Ans : it can lead to large errors in the predictions.

In [55]:
def predict(X, w, b):
    """
    X : input features
    w : weights
    b : bias
    returns predicted values
    """
    y_hat = X.dot(w) + b
    return y_hat

In [56]:
def mean_squared_error(y, y_hat):
  """
  y     : actual values
  y_hat : predicted values
  """
  loss = ((y_hat - y) **2).mean()
  return loss

In [57]:
def compute_gradients(X, y, y_hat):
  """
  Compute gradients of MSE loss
  """
  N =len(y)
  # Gradient w.r.t weights
  dw = (2 / N) * X.T.dot(y_hat - y)
  # Gradient w.r.t bias
  db = (2 / N) * (y_hat - y).sum()
  return dw, db

In [58]:
def update_parameters(w, b, dw, db, lr):
  w = w - lr * dw
  b = b - lr * db
  return w, b

In [59]:
lr =0.0001
epochs =1000

In [60]:
for epoch in range(epochs):
  y_hat = predict(X, w, b)
  loss = mean_squared_error(y, y_hat)
  dw, db = compute_gradients(X, y, y_hat)
  w, b = update_parameters(w, b, dw, db, lr)
  if epoch %100 ==0:
    print(f"Epoch {epoch}, Loss:{loss}")

Epoch 0, Loss:1727049635.0
Epoch 100, Loss:66491868.55311352
Epoch 200, Loss:61752567.201190114
Epoch 300, Loss:58616531.07847049
Epoch 400, Loss:56528801.53951118
Epoch 500, Loss:55126542.02946697
Epoch 600, Loss:54172526.94885703
Epoch 700, Loss:53511656.14292054
Epoch 800, Loss:53042523.72795741
Epoch 900, Loss:52698829.56325033

In [61]:
new_candidate = np.array([4.5,68])
predicted_salary = new_candidate.dot(w) + b
print(predicted_salary)

96993.4623777421

In [63]:
new_candidate = np.array([1,25])
predicted_salary = new_candidate.dot(w) + b
print(predicted_salary)

35362.34808109684